/* frontend/src/index.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Forzamos el modo oscuro base */
  color-scheme: dark;
  background-color: #0F172A; /* El mismo azul oscuro de tu App */
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: #0F172A;
  overflow-x: hidden; /* Evita scroll horizontal innecesario */
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: none; /* IMPORTANTE: Quita el límite de ancho de Vite */
  text-align: left;
}